spring:
  application:
    name: spring-ai-demo

  ai:
    ollama:
      base-url: http://localhost:11434
      chat:
        options:
          model: qwen2.5-coder:7b
          temperature: 0.7

server:
  port: 8080
